---
import '@fontsource/inter';
import Layout from '../layouts/Layout.astro';
import Projects from '../layouts/Projects.astro';
import Section from '../layouts/Section.astro';
import ScrollRestoration from '../layouts/ScrollRestoration.astro';
import Skills from '../layouts/Skills.astro';
---

<Layout title="TMC" requireInfo={true}>
	<ScrollRestoration/>
	<Section id="about" title="About">
		<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Quisque ac fames urna justo ultricies nunc. Egestas ultricies pulvinar donec porta porta luctus efficitur viverra fames. Fusce quis faucibus, rhoncus mauris arcu fringilla lacinia id. Mollis euismod sit pulvinar ridiculus commodo vel ullamcorper enim neque. Etiam suscipit accumsan condimentum scelerisque sed velit quisque primis. Mus dignissim tincidunt potenti commodo, hendrerit blandit sapien.
	
			Nullam cras non morbi id; vehicula viverra. Primis consectetur ridiculus, non est lacus senectus lacus suspendisse. Sem turpis per justo mus id mi bibendum. Est pellentesque egestas quisque lacus vulputate odio ultrices nulla. Urna class integer ante, dignissim aptent laoreet. Ante sem montes maecenas consectetur lacus class vehicula cubilia. Metus etiam mollis non neque venenatis himenaeos.</p>
	</Section>
	<Section id="skills" title="Skills">
		<Skills/>
	</Section>
	<Section id="experience" title="Experience">
		<h1>Experience</h1>
	</Section>
	<Section id="projects" title="Projects">
		<Projects/>
	</Section>
	<div class="my-[200px]">
		Test
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 4rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
