---
import Prose from './Prose.astro';
import type { CollectionEntry } from 'astro:content';
interface Props {
  project: CollectionEntry<'project'>;
}

// `post` will match your 'blog' collection schema type
const { project } = Astro.props;
const { Content } = await project.render();
---
<a class="flex flex-grow flex-shrink" href={`/project/${project.slug}/`}>
    <div class="flex-grow w-64 mb-4 p-4 
    border border-white border-opacity-20 
    bg-indigo-400 bg-opacity-10 overflow-hidden
    hover:bg-opacity-20 rounded-xl">
    <h1 class="text-xl p-px font-bold mb-1">{project.data.title}</h1>
    <div class="flex flex-row flex-wrap gap-1">
    {project.data.tech.map(t => (
        <span class="bg-opacity-40 text-xs font-mono text-sm bg-orange-800 text-white py-px px-2 rounded-full">{t}</span>
    ))}
    </div>
    {project.data.desc && <p class="text-sm p-1 mt-2">{project.data.desc}</p>}
    </div>
</a>